body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4) ;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cute-video {
  width: 400px;
  border-radius: 20px;
  margin-bottom: 20px;
}


.container {
  background: #fff0f5; /* light pink */
  padding: 50px;
  border-radius: 30px;
  width: 500px;
  text-align: center;
  box-shadow: 0 20px 60px rgba(255, 105, 180, 0.25);
}

h1 {
  color: #ff4d4d;
}

p {
  color: dark black;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px;
  border: 1px solid #ffb3c6;
  outline: none;
}

button {
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(45deg, #ff4d88, #ff0066);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.cute-img {
  width: 150px;
  margin-bottom: 15px;
}
